body{
  background-image: url("../paper/b003.gif");
}

article{
  margin-top: 10px;
}

.base{
  margin-top: 10px;
	padding:15px 50px 45px;
	background: #fff;
	box-shadow: 0 0 50px #add8e6 inset, 5px 5px 0 #cecece;
	-moz-box-shadow: 0 0 50px #add8e6 inset, 5px 5px 0 #cecece;
	-webkit-box-shadow: 0 0 50px #add8e6 inset, 5px 5px 0 #cecece;
	overflow:hidden;width:750px;margin: 0 auto
}

.paper{
  margin: 10px;
	padding:10px;
	background: #fff;
	box-shadow: 0 0 50px #dfefff inset, 5px 5px 0 #cecece;
	-moz-box-shadow: 0 0 50px #dfefff inset, 5px 5px 0 #cecece;
	-webkit-box-shadow: 0 0 50px #dfefff inset, 5px 5px 0 #cecece;
}

.btn {
	background-color: #add8f6;
	box-shadow: 0 0 50px #ffffff inset, 0px 0px 0 #cecece;
	-moz-box-shadow: 0 0 50px #ffffff inset, 0px 0px 0 #cecece;
	-webkit-box-shadow: 0 0 50px #ffffff inset, 0px 0px 0 #cecece;
	border: 2px solid #BBB;
	color:#000;
	padding: 3px 5px;
}
